<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zen The Panda | Panda Memes Go Multichain</title>
    <meta content="Zen The Panda | Panda Memes Go Multichain" property="og:title" />
    <meta property="og:type" content="website" />
    <meta name="description"
        content="Zen The Panda is the first panda-themed token designed to be built on a multichain network. Spanning Ethereum, BNB Chain, Polygon, Solana, Avalanche, and Base, we are bringing the joy of Panda memes to every major crypto chain. Join us on an innovative journey to spread Zen The Panda across the blockchain universe." />
    <meta content="Zen The Panda | Panda Memes Go Multichain" property="twitter:title" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta property="og:image" content="/img/og.png" />
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <script type="module" crossorigin src="assets/index-CqgOwdM6.js"></script>
    <link rel="stylesheet" crossorigin href="assets/index-BzCsq7A.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom2.js"></script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </body>
</html>
